/Mectronics.SistemaGestionTransporte.MS.Bus/obj
/Mectronics.SistemaGestionTransporte.MS.BusHorario/obj
/Mectronics.SistemaGestionTransporte.MS.Conductor/obj
/Mectronics.SistemaGestionTransporte.MS.Rol/obj
/Mectronics.SistemaGestionTransporte.Servicio/obj
/Mectronics.SistemaGestionTransporte/.vs
/Mectronics.SistemaGestionTransporte/Mectronics.SistemaGestionTransporte.MS.ConductorHorario/obj
/Mectronics.SistemaGestionTransporte/Mectronics.SistemaGestionTransporte.MS.Seguridad/obj
/Mectronics.SistemaGestionTransporte/Mectronics.SistemaGestionTransporte.MS.EstadoConductor/obj
/Mectronics.SistemaGestionTransporte/Mectronics.SistemaGestionTransporte.MS.Usuario/obj
/Mectronics.SistemaGestionTransporte/Mectronics.SistemaGestionTransporte.MS.EstadoBus/obj
/Mectronics.SistemaGestionTransporte.Tranversales/obj
/Mectronics.SistemaGestionTransporte.Repositorio/obj
